<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{{ url_for('static', filename='stylesheet/stylesheets.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>ItemReunionInn</title>
  </head>
  <body>
    <div class="flex_container">
      <!-- make it min-height: 100vh and then make footer align-self: flex-end-->
      <header>
        <nav class="gridcolumns2-1 margin-top16">
          <div class="flex-row space-around align-center">
            <a>
              <img
                src="{{ url_for('static', filename='images/logo') }}"
                alt="Logo"
              />
            </a>
            <a href="/home">Home</a>
            <a href="/userprofile">My Profile</a>
          </div>
          <div class="flex-row justify-center padding-8 align-center">
            <form>
              <img
                src="{{ url_for('static', filename='images/bell.svg') }}"
                alt="bell"
              />
              <input type="text" placeholder="What are you looking for?" />
              <button type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>
      <main>
        <section class="hero padding-8">
          <h1 class="fontsize64 padding-8">Welcome Back User!</h1>
          <div class="container">
            <div class="row">
              <div class="card text-center col" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Active Cases</h5>
                  <p class="card-text">
                    Check here for all the active lost item cases from all of
                    the guests.
                  </p>
                  <a href="usercases.html" class="btn btn-primary">View</a>
                </div>
              </div>
              <div class="card text-center col" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Case History</h5>
                  <p class="card-text">
                    This shows all pending tickets aswell as closed tickets.
                  </p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
              <div class="card text-center col" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">Case Updates</h5>
                  <p class="card-text">
                    With supporting staff, click below to see updates regarding
                    to your lost item cases.
                  </p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="justify-selfend padding-8">
        <div class="flex-row justify-center gap16">
          <a href="#">Policy</a>
          <a href="#">Contact Us</a>
          <a href="#">FAQ</a>
        </div>
      </footer>
    </div>
  </body>
</html>
