<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', filename='stylesheet/stylesheets.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title>Report an Item Lost</title>
	</head>
	<body>
		<div class="flex_container">
			<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<div class="container-fluid">
						<a class="navbar-brand"
							><img
								src="../images/Logo"
								alt="Logo"
								width="100"
								height="100"
								class="d-lg-inline-block align-top"
						/></a>
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNav"
							aria-controls="navbarNav"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a
										class="nav-link active"
										aria-current="page"
										href="index.html"
										>Home</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="report.html"
										>Report</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="userprofile.html"
										>My Profile</a
									>
								</li>
							</ul>
							<form class="d-flex">
								<input
									class="form-control me-2"
									type="search"
									placeholder="What are you looking for?"
								/>
								<button type="submit">Search</button>
							</form>
						</div>
					</div>
				</nav>
			</header>
			<main>
				<section class="hero padding-8">
						<!-- personal information -->
					<div class="container">
						<h1>Enter your personal details below.</h1>
						<form>
							<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-4">
									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">First Name </span>
									</label>

									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">Address</span>
									</label>

								  <label class="custom_field">
									<input type="text" required> 
									<span class="placeholder">Driver's License</span>
								</label>
								</div>

								<div class="col-sm-3 col-md-3 col-lg-4">
									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">Last Name</span>
									</label>

									<label class="custom_field">
										<input type="tel" required> 
										<span class="placeholder">Phone Number</span>
								  </label>

									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">Booking Confirmation #</span>
									  </label>
								</div>
								<div class="col">
									<label class="custom_field">
										<input
										placeholder="Date of Birth"
										type="text"
										onblur="(this.type='text')"
										onfocus="(this.type='date')"/>
									</label>

									<label class="custom_field">
										<input type="email" required> 
										<span class="placeholder">Email</span>
									</label>
								</div>

								</div>
							</div> <br>

							
							<div class="container">
								<h3>Details about the lost item.</h3>
								<div class="row">
									<div class="col-sm-4">
										<label class="custom_field">
											<input type="text" required> 
											<span class="placeholder">Item Name</span>
										</label>
									</div>
									<div class="col-sm-4">
										<label class="custom_field">
											<input type="text" required> 
											<span class="placeholder">Last Known Location</span>
										</label>
									</div>
									<div class="col-sm-4">
										<label class="custom_field">
											<input
											placeholder="Date and time item was lost"
											type="text"
											onblur="(this.type='text')"
											onfocus="(this.type='datetime-local')"/>
										</label>
									</div>
								</div>
							</div>
								<div class="container">
								<textarea class="descript_textarea" rows="10" cols="100" placeholder="Please describe your item!"></textarea>
								</div>

							<div class="container">
								<h3>Contact Information When Found</h3>

								<label class="custom_field">
									<input type="text" required> 
									<span class="placeholder">First Name </span>
							  	</label>

							  	<label class="custom_field">
									<input type="text" required> 
									<span class="placeholder">Last Name </span>
							  	</label>

							 	<label class="custom_field">
									<input type="email" required> 
									<span class="placeholder">Email </span>
							 	</label>

							  	<label class="custom_field">
									<input type="tel" required> 
									<span class="placeholder">Phone Number </span>
							  </label>

							  <label class="custom_field">
								<input
								placeholder="Time of day when available"
								type="text"
								onblur="(this.type='text')"
								onfocus="(this.type='time')"/>
							</label>
							
							</div> <br>

							<div class="container">
								<button type="submit" class="btn btn-primary">Submit</button>
								<input type="reset" class="btn btn-secondary mx-3">
							</div>
						</form>
					</div>
				</section>
			</main>
			<footer class="justify-selfend">
				<div class="flex-row justify-center gap16">
					<a href="#">Policy</a>
					<a href="#">FAQ</a>
					<a href="#">Contact Us</a>
					<a href="#">About Us</a>
				</div>
			</footer>
		</div>
	</body>
</html>
