<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', filename='stylesheet/stylesheets.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Report an Item Lost</title>
	</head>
	<body>
		<div>
			<header>
				<nav class="gridcolumns2-1 margin-top16">
					<div class="flex-row space-around align-center">
                        <a>
                            <img src="{{ url_for('static', filename='images/logo') }}" alt="Logo" />
                          </a>
                        <a href="/staff_dashboard" title="Home Page">Home</a>
                        <a href="/viewusercases">Report</a>
                        <a href="/staffprofile">My Profile</a>
					</div>
					<div class="flex-row justify-center padding-8 align-center">
						<form>
                            <img
                            src="{{ url_for('static', filename='images/bell.svg') }}"
                            alt="bell"
                          />
							<input
								type="text"
								placeholder="What are you looking for?">
							<button type="submit">Search</button>
						</form>
					</div>
				</nav>
			</header>
			<main>
				<section class="hero padding-8">
						<!-- personal information -->
					<div class="container">
						<h1>Please fill out the following details.</h1>
						<form>
							<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-4">
									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">First Name </span>
									</label>

								</div>

								<div class="col-sm-3 col-md-3 col-lg-4">
									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">Last Name</span>
									</label>
								</div>

								<div class="col-sm-3 col-md-3 col-lg-4">
									<label class="custom_field">
										<input type="text" required> 
										<span class="placeholder">Employee #</span>
									</label>
								</div>
							</div> <br>

						</div>	
							<div class="container">
								<h3>Details about the lost item.</h3>
								<div class="row">
									<div class="col-sm-4">
										<label class="custom_field">
											<input type="text" required> 
											<span class="placeholder">Item Name if possible</span>
										</label>
									</div>
									<div class="col-sm-4">
										<label class="custom_field">
											<input type="text" required> 
											<span class="placeholder">Location Found</span>
										</label>
									</div>
									<div class="col-sm-4">
										<label class="custom_field">
											<input
											placeholder="Date and time item was found"
											type="text"
											onblur="(this.type='text')"
											onfocus="(this.type='datetime-local')"/>
										</label>
									</div>
								</div>
							</div>
							<div class="container">
								<textarea class="descript_textarea" rows="10" cols="100" placeholder="Please describe your item!"></textarea>	
							</div> <br>

							<div class="container">
								<button type="submit" class="btn btn-primary">Submit</button>
								<input type="reset" class="btn btn-secondary mx-3">
							</div>
						</form>
					</div>
				</section>
			</main>
			<footer class="justify-selfend">
				<div class="flex-row justify-center gap16">
					<a href="#">Policy</a>
					<a href="#">FAQ</a>
					<a href="#">Contact Us</a>
					<a href="#">About Us</a>
				</div>
			</footer>
		</div>
	</body>
</html>
